version: '3'

services:
  
  broker-service:
    build:
      context: ./broker-service
      dockerfile: broker-service.dockerfile
    # restart: always
    ports:
      - "8080:80"
    # deploy:
    #   mode: relicated
    #   replicas: 1
  
  logger-service:
    build:
      context: ./logger-service
      dockerfile: logger-service.dockerfile
    environment:
      - mongoUrl=mongodb://mongoDB:27017
    # ports:
    #   - "8082:80"
    # deploy:
    #   mode: relicated
    #   replicas: 1
  
  authentication-service:
    build: 
      context: ./authentication-service
      dockerfile: authentication-service.dockerfile
    ports:
      - "8081:80"
    environment:
      - DSN=host=postgres port=5432 user=postgres password=password dbname=users sslmode=disable timezone=UTC connect_timeout=5
    # - DSN=host=postgres port=5432 user=postgres password=password dbname=users sslmode=disable timezone=UTC connection_timeout=5
    # deploy:
    #   mode: relicated
    #   replicas: 1

  mailer-service:
    build:
      context: ./mail-service
      dockerfile: mail-service.dockerfile
    restart: always
    environment:
      MAIL_PORT: 1025
      MAIL_DOMAIN: localhost
      MAIL_HOST: mailhog
      MAIL_USERNAME: ""
      EMAIL_PASSWORD: ""
      MAIL_ENCRYPTION: none
      FROM_NAME: "john Doe"
      FROM_ADDRESS: "jhon.Doe@email.com"

  postgres:
    image: postgres:14.0-alpine
    ports:
      - "5432:5432"
    restart: always
      # deploy:
      #   mode: relicated
      #   replicas: 1
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=users
    volumes:
      - data:/var/lib/postgresql/data
    # volumes:
    #   - ./db-data/postgres/:/var/lib/postgresql/data/

  mongoDB:
    image: mongo:4.2.16-bionic
    ports:
      - "27017:27017"
    # restart: always
    environment:
      MONGO_INITDB_DATABASE: logs
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    volumes:
      - data:/mongodb/data/db

  
  # SMTP server :1025
  # HTTP server for mail/hog :8025
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  data:
    external: true